nodered/flows.json
[
  {
    "id": "tab_telemetry",
    "type": "tab",
    "label": "Simulator Telemetri",
    "disabled": false,
    "info": "Simulator input suhu ruangan & beban CPU → MQTT → Fuzzy Engine → Tampilkan hasil AC Target"
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "Mosquitto Local",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "slider_temp",
    "type": "ui_slider",
    "z": "tab_telemetry",
    "name": "Suhu Ruangan (°C)",
    "label": "Suhu Ruangan",
    "group": "ui_group_input",
    "order": 1,
    "width": "6",
    "height": "2",
    "min": 15,
    "max": 40,
    "step": 0.5,
    "value": 25,
    "topic": "temp",
    "passthru": false,
    "x": 130,
    "y": 140,
    "wires": [["fn_build_json"]]
  },
  {
    "id": "slider_cpu",
    "type": "ui_slider",
    "z": "tab_telemetry",
    "name": "Beban CPU (%)",
    "label": "Beban CPU",
    "group": "ui_group_input",
    "order": 2,
    "width": "6",
    "height": "2",
    "min": 0,
    "max": 100,
    "step": 1,
    "value": 50,
    "topic": "cpu",
    "passthru": false,
    "x": 130,
    "y": 200,
    "wires": [["fn_build_json"]]
  },
  {
    "id": "fn_build_json",
    "type": "function",
    "z": "tab_telemetry",
    "name": "Build JSON Telemetry",
    "func": "if (msg.topic === \"temp\") {\n    flow.set(\"last_temp\", msg.payload);\n} else if (msg.topic === \"cpu\") {\n    flow.set(\"last_cpu\", msg.payload);\n}\n\nvar temp = flow.get(\"last_temp\") || 25;\nvar cpu  = flow.get(\"last_cpu\")  || 50;\n\nvar payload = {\n    temp: temp,\n    cpu_load: cpu,\n    timestamp: new Date().toISOString()\n};\n\nmsg.payload = payload;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 170,
    "wires": [["mqtt_out_telemetry", "ui_text_temp", "ui_text_cpu"]]
  },
  {
    "id": "mqtt_out_telemetry",
    "type": "mqtt out",
    "z": "tab_telemetry",
    "name": "Publish Telemetry",
    "topic": "server/telemetry",
    "qos": "0",
    "retain": false,
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_broker",
    "x": 570,
    "y": 140,
    "wires": []
  },
  {
    "id": "mqtt_in_ac",
    "type": "mqtt in",
    "z": "tab_telemetry",
    "name": "Subscribe AC Control",
    "topic": "server/ac_control",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": false,
    "rh": 0,
    "inputs": 0,
    "x": 140,
    "y": 380,
    "wires": [["fn_parse_ac"]]
  },
  {
    "id": "fn_parse_ac",
    "type": "function",
    "z": "tab_telemetry",
    "name": "Parse AC Result",
    "func": "var data = typeof msg.payload === 'string' ? JSON.parse(msg.payload) : msg.payload;\n\nif (data && data.ac_target !== undefined) {\n    msg.payload = Number(data.ac_target);\n    msg.temp = data.temp;\n    msg.cpu_load = data.cpu_load;\n    msg.ac_target = data.ac_target;\n    msg.timestamp = data.timestamp;\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 350,
    "y": 380,
    "wires": [["ui_gauge_ac", "ui_chart_history"]]
  },
  {
    "id": "ui_gauge_ac",
    "type": "ui_gauge",
    "z": "tab_telemetry",
    "name": "Target Suhu AC",
    "label": "Target Suhu AC (°C)",
    "group": "ui_group_output",
    "order": 1,
    "width": "4",
    "height": "3",
    "min": 16,
    "max": 28,
    "x": 560,
    "y": 380,
    "wires": []
  },
  {
    "id": "ui_chart_history",
    "type": "ui_chart",
    "z": "tab_telemetry",
    "name": "History Suhu",
    "label": "History Suhu (°C)",
    "group": "ui_group_chart",
    "order": 1,
    "width": "12",
    "height": "5",
    "label": "Suhu",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": false,
    "ymin": "10",
    "ymax": "45",
    "removeOlder": "30",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "x": 560,
    "y": 440,
    "wires": []
  },
  {
    "id": "ui_text_temp",
    "type": "ui_text",
    "z": "tab_telemetry",
    "name": "Suhu Input",
    "label": "{{msg.payload.temp}} °C",
    "group": "ui_group_output",
    "order": 2,
    "width": "4",
    "height": "1",
    "x": 560,
    "y": 200,
    "wires": []
  },
  {
    "id": "ui_text_cpu",
    "type": "ui_text",
    "z": "tab_telemetry",
    "name": "CPU Input",
    "label": "{{msg.payload.cpu_load}} %",
    "group": "ui_group_output",
    "order": 3,
    "width": "4",
    "height": "1",
    "x": 560,
    "y": 260,
    "wires": []
  },
  {
    "id": "ui_group_input",
    "type": "ui_group",
    "name": "Input Simulator",
    "tab": "ui_tab_main",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "ui_group_output",
    "type": "ui_group",
    "name": "Output Monitor",
    "tab": "ui_tab_main",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "ui_group_chart",
    "type": "ui_group",
    "name": "Chart History",
    "tab": "ui_tab_main",
    "order": 3,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_tab_main",
    "type": "ui_tab",
    "name": "Simulator Dashboard",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  }
]
