nodered/flows.json
[
  {
    "id": "tab_telemetry",
    "type": "tab",
    "label": "Simulator Telemetri",
    "disabled": false,
    "info": "Simulator input suhu ruangan & 5 server CPU load → MQTT → Fuzzy Engine → Tampilkan hasil AC Target"
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "Mosquitto Local",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "slider_temp",
    "type": "ui_slider",
    "z": "tab_telemetry",
    "name": "Suhu Ruangan (°C)",
    "label": "Suhu Ruangan",
    "group": "ui_group_input",
    "order": 1,
    "width": "6",
    "height": "2",
    "min": 15,
    "max": 40,
    "step": 0.5,
    "value": 25,
    "topic": "temp",
    "passthru": false,
    "x": 130,
    "y": 140,
    "wires": [["fn_build_json"]]
  },
  {
    "id": "slider_srv1",
    "type": "ui_slider",
    "z": "tab_telemetry",
    "name": "Server 1 CPU (%)",
    "label": "Server 1",
    "group": "ui_group_servers",
    "order": 1,
    "width": "4",
    "height": "1",
    "min": 0,
    "max": 100,
    "step": 1,
    "value": 50,
    "topic": "srv1",
    "passthru": false,
    "x": 130,
    "y": 240,
    "wires": [["fn_build_json"]]
  },
  {
    "id": "slider_srv2",
    "type": "ui_slider",
    "z": "tab_telemetry",
    "name": "Server 2 CPU (%)",
    "label": "Server 2",
    "group": "ui_group_servers",
    "order": 2,
    "width": "4",
    "height": "1",
    "min": 0,
    "max": 100,
    "step": 1,
    "value": 30,
    "topic": "srv2",
    "passthru": false,
    "x": 130,
    "y": 280,
    "wires": [["fn_build_json"]]
  },
  {
    "id": "slider_srv3",
    "type": "ui_slider",
    "z": "tab_telemetry",
    "name": "Server 3 CPU (%)",
    "label": "Server 3",
    "group": "ui_group_servers",
    "order": 3,
    "width": "4",
    "height": "1",
    "min": 0,
    "max": 100,
    "step": 1,
    "value": 70,
    "topic": "srv3",
    "passthru": false,
    "x": 130,
    "y": 320,
    "wires": [["fn_build_json"]]
  },
  {
    "id": "slider_srv4",
    "type": "ui_slider",
    "z": "tab_telemetry",
    "name": "Server 4 CPU (%)",
    "label": "Server 4",
    "group": "ui_group_servers",
    "order": 4,
    "width": "4",
    "height": "1",
    "min": 0,
    "max": 100,
    "step": 1,
    "value": 15,
    "topic": "srv4",
    "passthru": false,
    "x": 130,
    "y": 360,
    "wires": [["fn_build_json"]]
  },
  {
    "id": "slider_srv5",
    "type": "ui_slider",
    "z": "tab_telemetry",
    "name": "Server 5 CPU (%)",
    "label": "Server 5",
    "group": "ui_group_servers",
    "order": 5,
    "width": "4",
    "height": "1",
    "min": 0,
    "max": 100,
    "step": 1,
    "value": 85,
    "topic": "srv5",
    "passthru": false,
    "x": 130,
    "y": 400,
    "wires": [["fn_build_json"]]
  },
  {
    "id": "fn_build_json",
    "type": "function",
    "z": "tab_telemetry",
    "name": "Build JSON Telemetry",
    "func": "var topics = { temp:1, srv1:1, srv2:1, srv3:1, srv4:1, srv5:1 };\nif (msg.topic in topics) {\n    flow.set(msg.topic, msg.payload);\n}\n\nvar temp   = flow.get(\"temp\") || 25;\nvar srv1   = flow.get(\"srv1\") || 50;\nvar srv2   = flow.get(\"srv2\") || 30;\nvar srv3   = flow.get(\"srv3\") || 70;\nvar srv4   = flow.get(\"srv4\") || 15;\nvar srv5   = flow.get(\"srv5\") || 85;\n\nvar payload = {\n    temp: temp,\n    servers: [srv1, srv2, srv3, srv4, srv5],\n    timestamp: new Date().toISOString()\n};\n\nmsg.payload = payload;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 280,
    "wires": [["mqtt_out_telemetry", "ui_text_temp", "ui_text_server_loads"]]
  },
  {
    "id": "mqtt_out_telemetry",
    "type": "mqtt out",
    "z": "tab_telemetry",
    "name": "Publish Telemetry",
    "topic": "server/telemetry",
    "qos": "0",
    "retain": false,
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_broker",
    "x": 620,
    "y": 140,
    "wires": []
  },
  {
    "id": "mqtt_in_ac",
    "type": "mqtt in",
    "z": "tab_telemetry",
    "name": "Subscribe AC Control",
    "topic": "server/ac_control",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": false,
    "rh": 0,
    "inputs": 0,
    "x": 140,
    "y": 520,
    "wires": [["fn_parse_ac"]]
  },
  {
    "id": "fn_parse_ac",
    "type": "function",
    "z": "tab_telemetry",
    "name": "Parse AC Result",
    "func": "var data = typeof msg.payload === 'string' ? JSON.parse(msg.payload) : msg.payload;\n\nif (data && data.ac_target !== undefined) {\n    msg.payload = Number(data.ac_target);\n    msg.temp = data.temp;\n    msg.ac_target = data.ac_target;\n    msg.status = data.status;\n    msg.alert = data.alert;\n    msg.timestamp = data.timestamp;\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 520,
    "wires": [["ui_gauge_ac", "ui_text_ac_status", "ui_chart_history"]]
  },
  {
    "id": "ui_gauge_ac",
    "type": "ui_gauge",
    "z": "tab_telemetry",
    "name": "Target Suhu AC",
    "label": "Target Suhu AC (°C)",
    "group": "ui_group_output",
    "order": 1,
    "width": "4",
    "height": "3",
    "min": 16,
    "max": 28,
    "x": 620,
    "y": 520,
    "wires": []
  },
  {
    "id": "ui_text_ac_status",
    "type": "ui_text",
    "z": "tab_telemetry",
    "name": "AC Status",
    "label": "Status: {{msg.status}}",
    "group": "ui_group_output",
    "order": 2,
    "width": "4",
    "height": "1",
    "x": 620,
    "y": 580,
    "wires": []
  },
  {
    "id": "ui_chart_history",
    "type": "ui_chart",
    "z": "tab_telemetry",
    "name": "History AC Target",
    "label": "History AC Target (°C)",
    "group": "ui_group_chart",
    "order": 1,
    "width": "12",
    "height": "5",
    "label": "AC",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": false,
    "ymin": "10",
    "ymax": "30",
    "removeOlder": "30",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "x": 620,
    "y": 620,
    "wires": []
  },
  {
    "id": "ui_text_temp",
    "type": "ui_text",
    "z": "tab_telemetry",
    "name": "Suhu Input",
    "label": "Suhu: {{msg.payload.temp}} °C",
    "group": "ui_group_output",
    "order": 3,
    "width": "4",
    "height": "1",
    "x": 620,
    "y": 260,
    "wires": []
  },
  {
    "id": "ui_text_server_loads",
    "type": "ui_text",
    "z": "tab_telemetry",
    "name": "Server Loads",
    "label": "Server Loads: {{msg.payload.servers}}",
    "group": "ui_group_output",
    "order": 4,
    "width": "6",
    "height": "1",
    "x": 620,
    "y": 320,
    "wires": []
  },
  {
    "id": "ui_group_input",
    "type": "ui_group",
    "name": "Suhu Ruangan",
    "tab": "ui_tab_main",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "ui_group_servers",
    "type": "ui_group",
    "name": "Server CPU Loads",
    "tab": "ui_tab_main",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "ui_group_output",
    "type": "ui_group",
    "name": "Output Monitor",
    "tab": "ui_tab_main",
    "order": 3,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "ui_group_chart",
    "type": "ui_group",
    "name": "Chart History",
    "tab": "ui_tab_main",
    "order": 4,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_tab_main",
    "type": "ui_tab",
    "name": "Simulator Dashboard",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  }
]
